//定义基本色
$shui-color-white: #fff !default;

$shui-color-black: #000 !default;

//灰色
$shui-color-gray: #ccc !default;

$shui-color-gray-light: #eee !default;

$shui-color-gray-dark: #333 !default;

//主题色
$shui-color-primary: #a2d8dd !default;

$shui-color-success: #37db45 !default;

$shui-color-info: #bdbdbd !default;

$shui-color-warning: #ffd700 !default;

$shui-color-danger: #ff4500 !default;


$shui-color-list-map: (
  primary: $shui-color-primary,
  success: $shui-color-success,
  info: $shui-color-info,
  warning: $shui-color-warning,
  danger: $shui-color-danger,
);


//字体大小
$shui-font-size-base: 14px !default;

$shui-font-size-small: 12px !default;

$shui-font-size-large: 16px !default;

$shui-font-size-h1: 36px !default;

$shui-font-size-h2: 30px !default;

$shui-font-size-h3: 24px !default;

$shui-font-size-h4: 18px !default;

$shui-font-size-h5: 14px !default;

$shui-font-size-h6: 12px !default;

//字体颜色
$shui-font-color-base: $shui-color-black !default;