//定义基本色
$shui-color-white: #fff !default;

$shui-color-black: #000 !default;

//灰色
$shui-color-gray: #ccc !default;

$shui-color-gray-light: #eee !default;

$shui-color-gray-dark: #333 !default;

//主题色
$shui-color-primary: #a2d8dd !default;

$shui-color-success: #37db45 !default;

$shui-color-info: #bdbdbd !default;

$shui-color-warning: #ffd700 !default;

$shui-color-danger: #ff4500 !default;

//字体大小
// $shui-all-color: (
//   shui-color-white: #fff,
//   shui-color-black: #000,
//   shui-color-gray: #ccc,
//   shui-color-gray-light: #eee,
//   shui-color-gray-dark: #333,
//   shui-color-primary: #a2d8dd,
//   shui-color-success: #37db45,
//   shui-color-info: #bdbdbd,
//   shui-color-warning: #ffd700,
//   shui-color-danger: #ff4500,
// ) !default;

$shui-color-list-map: (
  primary: $shui-color-primary,
  success: $shui-color-success,
  info: $shui-color-info,
  warning: $shui-color-warning,
  danger: $shui-color-danger,
);
