@import "../../../dist/assets/scss/variables.scss";

.shui-input {
  width: 100%;
  height: 32px;
  border: 2px solid $shui-color-gray;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s;
  &:hover {
    border-color: $shui-color-gray-light;
  }
  &:focus-visible {
    border-color: $shui-color-primary;
  }
}
